<h1><%= humanizedModuleNamePlural %> list</h1>

<p>
  {{link-to "New <%= humanizedModuleName %>" "<%= dasherizedModuleNamePlural %>.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr><% attrs.forEach(function(attr) { %>
        <th>
          <%= attr.label %>
        </th><% }); %>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each <%= camelizedModuleName %> in model}}
        <tr><% attrs.forEach(function(attr) { %>
          <td>
            {{<%= camelizedModuleName %>.<%= attr.name %>}}
          </td><% }); %>
          <td>
            {{link-to "Edit" "<%= dasherizedModuleNamePlural %>.edit" <%= camelizedModuleName %>}}
          </td>
          <td>
            {{link-to "Show" "<%= dasherizedModuleNamePlural %>.show" <%= camelizedModuleName %>}}
          </td>
          <td>
            <a href="#" {{action "remove" <%= camelizedModuleName %>}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No <%= humanizedModuleNamePlural %> found
  </p>
{{/if}}
